#p1{
    font-size: 30px;
}
#p2{
    font-size: 30px;
}
#p3{
    font-size: 30px;
}
#p4{
    font-size: 30px;
}
#p5{
    font-size: 30px;
}
#ip1{
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#ip2{
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#ip3{
 padding-top: 5px;
 padding-bottom: 5px;
 width: 300px;
    
 
}
#b1{
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#b2{
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#b3{
    padding-top: 5px;
 padding-bottom: 5px;
 width: 300px;
    
}
#bb1{
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#bb2{
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#bb3{
    padding-top: 5px;
 padding-bottom: 5px;
 width: 300px;
    
}

#ip4{
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#ip5{
    
    width: 300px;
    margin-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#ip6{
    padding-top: 5px;
    padding-bottom: 5px;    
    width: 300px;
}
#ip7{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    margin-left: 70px;
    margin-right: 40px;
}
#ip8{
    padding-top: 5px;
    padding-bottom: 5px;   
    width: 300px;
    margin-right: 40px;
}
#ip9{
    padding-top: 5px;
    padding-bottom: 5px;   
    width: 300px;
}